
* {
	margin:0;
	padding:0;
}
body {
	background:#fcfcfc url(../images/bg.jpg) repeat;
	border-top:20px solid #1c1c1b;
	color:#333;
	font-size:62.5%;
	font-family:arial,verdana,sans-serif;
	text-align:center;
}
h1 {
	font-size:2em;
}
h2 {
	font-size:1.6em;
}
h3 {
	font-size:1.4em;
}
h4 {
	font-size:1.2em;
}
a {
	color:#666;
	font-weight:bold;
	outline:none;
	border: 0;
	text-decoration:none;
}
a:hover {
	color: #999;
}
img {
	border: 0;
}

#wrapper {
	font-size:1.2em;
	line-height:1.4em;
}
.post h2 {
	line-height:1.2em;
}
.entry a,.secondary-column a, {
	color:#333;
}
.entry a:hover,.secondary-column a:hover {
	color:#666;
}
.secondary-column a {
	font-weight:normal;
}
.entry ul,.entry ol,.entry blockquote {
	color:#555;
}
.entry blockquote {
	font-style:italic;
}
.secondary-column h3 {
	font-size:1.2em;
}
#paginate-index {
	font-size:0.9em;
	text-transform:uppercase;
}
#footer {
	clear: both;
}

#wrapper {
	margin:20px auto 0;
	text-align:left;
	width:950px;
	padding:0 5px;
}
#masthead {
	padding:50px 0;
}
#filler {
}
#main-column {
	float:left;
	margin:28px 0 0 0;
	width:700px;
}
.secondary-column {
	float:left;
	margin:28px 0 0 30px;
	overflow:hidden;
	width: 220px;
}

#masthead h1 {
	float:left;
	font-size:30px;
	margin:0;
}
#masthead h1 a {
	text-transform:uppercase;
	width:400px;
}

.post-meta {
	margin-right:40px;
	width:150px;
	float:left;
}
.post-meta ul {
	list-style:none;
	margin:0;
	padding:0;
}
.post-meta ul li {
	margin:0 0 5px;
	padding:0;
	font-size:11px;
	color:#999;
}
.post-meta ul li a {
	text-decoration:none;
	font-weight:bold;
}
.post-meta ul li.perma {
	padding:10px 0;
	margin:10px 0;
	border-top:1px solid #e6e3e3;
}
.post-meta ul li.perma a {
	margin:0;
	padding:0;
	line-height: normal;
}

.post {
	margin:0 0 75px 0;
	width:500px;
	float:left;
}
.post-page {
	margin:0 0 21px 0;
	width:700px;
	float:left;
}
.post h2 {
	margin-bottom:10px;
	padding:0 3px;
}
.post h2 a {
	display: block;
}

.entry {
	padding:0 3px;
	overflow:hidden;
}
.entry p {
	line-height:1.6em;
	margin:10px 0;
}
.entry img a {
	border: 0;
}
.entry ul,.entry ol,.entry blockquote {
	margin:0 14px;
}
.entry ol {
	list-style:decimal;
}
.entry ul li,.entry ol li {
	margin:0 0 7px 18px;
}
.entry ul li {
	list-style:circle;
}
.entry blockquote {
	font-size:1.1em;
	line-height:1.4em;
	padding: 15px;
	margin: 15px 0;
}


#footer {
	background:#1c1c1b url(../images/footer-bg.png) top left repeat-x;
	color:#666;
	margin:0;
	padding:40px 0 190px 0;
	font-size:11px;
}
#footer-container {
	width:950px;
	margin:0 auto;
}
#footer a,#footer a:link,#footer a:visited {
	color:#666;
	font-weight:bold;
	text-decoration:none;
}
#footer a:hover {
	color: #999;
}
#footer-pad {
	padding: 0 20px;
}

.floatleft,.alignleft {
	float:left;
	margin:3px 7px 0 0;
}
.floatright,.alignright {
	float:right;
	margin:3px 0 0 7px;
}
.right {
	float:right;
}
.left {
	float:left;
}
.clear {
	clear:both;
}
.fix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.fix {
	display:inline-block;
}
* html .fix {
	height:1%;
}
.fix {
	display: block;
}

#pagination-index {
	float: right;
}
#pagination-index .previous {
	float: left;
	margin: 0 10px 0 0;
	display: inline-block;
}
#pagination-index .next {
	float: right;
	margin: 0 0 0 10px;
	display: inline-block;
}
ul.pages {
	display: inline-block;
}
ul.pages li.page {
	display: inline;
	padding: 0 10px 0 0;
}

