<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ page.title | replace: '&nbsp;', ' ' | escape }}</title>
		{% if page.description %}
		<meta name="description" content="{{ page.description | escape }}">
		{% endif %}
		<meta name="author" lang="en" content="Howard P. Logsdon">
		<meta content="initial-scale=1.0" name="viewport">
		<link rel="canonical" href="http://www.hplogsdon.com/">

		<link rel="icon" href="/favicon.ico">
		<link rel="stylesheet" type="text/css" href="/stylesheets/default.css">
		{% if page.styles %}
		<style type="text/css" media="screen">{{ page.styles }}</style>
		{% endif %}
	</head>

	<body>
		<div id="wrapper">
			<header id="masthead" class="fix">
				<h1><a href="/">HPLogsdon</a></h1>
				<div class="clear fix">
					<p><em>Information contained within is probably wrong</em></p>
				</div>
			</header>

			<div id="filler" class=fix">

				{{ content }}

			</div>
		</div>
		<div id="footer" class="fix">
			<div id="footer-container">
				<p class="left">
					Copyright &copy; <a href="/">HPLogsdon</a>
				</p>
				<p class="right">
					Original <a href="http://www.iamtimothylong.com/theophilus">Theophilus</a> Wordpress theme by <a href="http://www.iamtimothylong.com">Timothy Long</a>
				</p>
			</div>
		</div>

		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-12342848-1']);
			_gaq.push(['_setDomainName', 'hplogsdon.com']);
			_gaq.push(['_setAllowLinker', true]);
			_gaq.push(['_trackPageview']);

			setTimeout(function() { _gaq.push(['_trackEvent', '15_seconds', 'read']); }, 15000);

			(function() {
			 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			 })();
		</script>
	</body>
</html>
